.slideshow-container {
    width: 100%;
    height: 100px;
    position: relative;
    margin: auto;
    overflow: hidden;
  }

  .mySlides {
    display: none;
    animation: slideIn 4s forwards;
    animation: slideOut 4s forwards;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
.navbar {
text-align: center;
padding: 20px 0;
background-color: #f0f0f0;
margin: 20px 0;
}

.navbar a {
display: inline-block;
text-decoration: none;
color: #333;
font-size: 16px;
margin: 0 15px; /* Horizontal margin */
margin-bottom: 5px; /* Vertical margin below each link */
padding: 5px 15px;
border-radius: 5px;
border: 1px solid grey; /* Slightly visual border for debugging */
transition: background-color 0.3s, color 0.3s;
box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle box shadow for depth */
}

.navbar a:hover {
background-color: #333;
color: #fff;
cursor: pointer;
box-shadow: 0 6px 12px rgba(0,0,0,0.15); /* Slightly larger shadow on hover for a "lifting" effect */
}
 
  