body::before {
  content: '';
  position: fixed;  /* Changed from absolute to fixed */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://images.unsplash.com/photo-1538645731800-4640c639bba7?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(1px); /* Adjust blur radius here */
  z-index: -1;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  min-height: 100vh; /* Ensures body takes at least the height of the viewport */
  box-sizing: border-box;
}

h1, h2 {
  color: #f0eaea;
}

.card {
  background: linear-gradient(
    to bottom, 
    #6a6d76,                 /* Lighter shade at the top */
    #3b3e47                  /* Darker shade at the bottom */
  );
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: whitesmoke;
}

select, input[type="text"], button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #b7c3b7;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

button:hover {
  background-color: #4cae4c;
}
